body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

#game-box {
  display: flex;
  justify-content: center;
}

#number-input {
  display: none;
}

#display-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#display-count {
  color: black;
}

#restart-box {
  display: flex;
  justify-content: center;
}

#restart-button {
  display: none;
}
